@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

#canvas-frame {
  padding: 15px;
  @include border-radius(0.5em);
  border: 2px solid rgb(130, 130, 130);
}

#canvas {
  width: 512px; // scale factor 2
  height: 448px;
  border: 1px solid black;
  background-color: white;
  @include single-box-shadow(#333, 0px, 0px, 3px);
}

// vim:ts=2 sw=2:
