@import "compass/reset";
@import "compass/css3/box";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/link-colors";
@import "compass/css3/box-shadow";

@import "orange";

/* compass imports end here */
html {
  height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  height: 100%;
  background-color: $background-color;
}

a {
  @include hover-link;
  @include link-colors(rgb(255, 0, 0));
}

/* remove button padding in ff */
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.clear {
  clear: both;
}

.error {
  color: rgb(255,0,0);
}

textarea,input {
  @include single-box-shadow(#aaa, 1px, 1px, 2px);
  background-color: white;
  border: 1px solid #777;
  margin: 0;
  padding: 0;
  resize: none;
}

input:hover {
  @include single-box-shadow(#111, 1px, 1px, 2px);
  border-color: black;
}

input:focus {
  @include single-box-shadow(#111, 0px, 0px, 0px, 0px);
  border-color: black;
}

input[type=submit] {
  padding: 0 3px;
  margin: 0;
  font-size: 90%;
}

select {
  font-size: 90%;
}

/* the main UI */
#ui {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  margin: 20px 50px;
}

// vim:ts=2 sw=2:
