$dark-color: rgb(255, 240, 225);
$darkest-color: rgb(255, 200, 160);

$background-color: rgb(255, 250, 245);

$text-shadow: rgb(160, 160, 160);
$light-text-shadow: rgb(255, 240, 225);

$alt-dark-color: #fef0c9;
$alt-color: #fdf6cf;
$alt-light-color: #fdfcdc;
