$dark-color: rgb(255, 240, 225);
$darkest-color: rgb(255, 200, 160);

// $alt-color: #fdf6cf;
$alt-light-color: #fdfcdc;
$alt-mid-color: #fef0c9;
$alt-dark-color: #fee0c6;
$alt-darkest-color: #ff7f24;

$background-color: rgb(255, 250, 245);

// shadows
$text-shadow: rgb(160, 160, 160);
$mid-text-shadow: rgb(205, 190, 150);
$light-text-shadow: rgb(255, 240, 225);

$dark-box-shadow: #111;
$light-box-shadow: #aaa;
