@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/box-shadow";

/* the toolbox */
#toolbox {
  .header {
    @include border-top-right-radius(0.5em);
    @include background(linear-gradient(top left, #000, #333));
    padding: 3px;
    font-size: 80%;
    color: white;
  }
  .content {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  >div {
    background-color: rgb(255, 240, 225);
  }
}

#register {
  form {
    padding: 5px;
    >input:first-child {
      margin-top: 4px;
    }
    input {
      @include border-radius(0.35em);
      display: block;
      margin-top: 8px;
      padding: 2px;
    }
    input[type=submit] {
      margin-top: 7px;
      float: right;
      @include background(linear-gradient(top, white, rgb(255, 200, 160)));
    }
  }
}

// vim:ts=2 sw=2:
