@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@import "orange";

$box-radius: 0.5em;

/* the toolbox */
#toolbox {
  margin-left: 10px;
  .header {
    font-weight: bold;
    @include background(linear-gradient(top left, #000, #333));
    @include single-text-shadow($light-text-shadow);
    @include border-top-radius($box-radius);
    padding: 4px;
    font-size: 85%;
    color: white;
  }
  >div {
    >div {
      border: 1px solid rgb(130, 130, 130);
      @include border-bottom-radius($box-radius);
      @include border-top-radius($box-radius);
      @include single-box-shadow(#aaa, 0px, 0px, 2px);
    }
    background-color: $dark-color;
  }
}

#register {
  form {
    padding: 5px;
    >input:first-child {
      margin-top: 4px;
    }
    input {
      @include border-radius(0.35em);
      display: block;
      margin-top: 8px;
      padding: 2px;
    }
    input[type=submit] {
      @include single-text-shadow($light-text-shadow);
      margin: 7px 0 2px 0;
      float: right;
      @include background(linear-gradient(top, $background-color, $darkest-color));
    }
  }
  .registered {
    @include border-radius(0.35em);
    background-color: $alt-light-color;
    border: 1px solid black;
    margin: 8px;
    padding: 5px;
    width: 15em;
    @include single-text-shadow($mid-text-shadow);
    @include single-box-shadow(#aaa, 0px, 0px, 2px);
  }
}

// vim:ts=2 sw=2:
