/* the toolbox */
#toolbox {
  .header {
    padding: 3px;
    font-size: 80%;
    background-color: black;
    color: white;
  }
  >div {
    background-color: rgb(255, 240, 225);
  }
}

#register {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  form {
    margin: 5px;
  }
  label {
    margin-top: 3px;
    font-size: 80%;
    display: block;
  }
  input {
    margin-top: 2px;
  }
  input[type=submit] {
    margin-top: 3px;
    float: right;
  }
}

// vim:ts=2 sw=2:
