/* the toolbox */
#toolbox .header {
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top left, #000000, #333333);
  background: -moz-linear-gradient(top left, #000000, #333333);
  background: -o-linear-gradient(top left, #000000, #333333);
  background: -ms-linear-gradient(top left, #000000, #333333);
  background: linear-gradient(top left, #000000, #333333);
  padding: 3px;
  font-size: 80%;
  color: white; }
#toolbox .content {
  border-right: 1px solid black;
  border-bottom: 1px solid black; }
#toolbox > div {
  background-color: #fff0e1; }

#register form {
  padding: 5px; }
#register label {
  margin-top: 3px;
  font-size: 80%;
  display: block; }
#register input {
  margin-top: 2px; }
#register input[type=submit] {
  margin-top: 3px;
  float: right; }
