/* the toolbox */
#toolbox .header {
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -ms-border-top-right-radius: 0.5em;
  -o-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top left, #000000, #333333);
  background: -moz-linear-gradient(top left, #000000, #333333);
  background: -o-linear-gradient(top left, #000000, #333333);
  background: -ms-linear-gradient(top left, #000000, #333333);
  background: linear-gradient(top left, #000000, #333333);
  padding: 3px;
  font-size: 80%;
  color: white; }
#toolbox .content {
  border-right: 1px solid #828282;
  border-bottom: 1px solid #828282; }
#toolbox > div {
  background-color: #fff0e1; }

#register form {
  padding: 5px; }
  #register form > input:first-child {
    margin-top: 4px; }
  #register form input {
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    -ms-border-radius: 0.35em;
    -o-border-radius: 0.35em;
    border-radius: 0.35em;
    display: block;
    margin-top: 8px;
    padding: 2px; }
  #register form input[type=submit] {
    margin-top: 7px;
    float: right;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffc8a0));
    background: -webkit-linear-gradient(top, #ffffff, #ffc8a0);
    background: -moz-linear-gradient(top, #ffffff, #ffc8a0);
    background: -o-linear-gradient(top, #ffffff, #ffc8a0);
    background: -ms-linear-gradient(top, #ffffff, #ffc8a0);
    background: linear-gradient(top, #ffffff, #ffc8a0); }
