doctype 5
html(lang='en')
  head
    title frwlrd
    link(type='text/css', rel='stylesheet', href='styles/style.css')
    script(type='text/javascript',
           src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')
    script(type='text/javascript',
           src='http://crypto-js.googlecode.com/svn/tags/3.0.1/build/rollups/sha1.js')
    script(type='text/javascript', src='js/global.js')
    script(type='text/javascript', src='js/register.js')
    script(type='text/javascript', src='http://cdn.craftycomponents.com/crafty-release.js')
    script(type='text/javascript', src='js/game.js')
  body
    #ui
      #canvas-frame
        #canvas
      #toolbox
        #user
          #register
            .header Sign Up
            .content
              form(onsubmit='return frwrld.register()', method='post')
                input(name='email', type='email', placeholder="Enter Your Email")
                input(name='password', type='password', placeholder="Choose a Password")
                div
                  input(type='submit', value="Register")
                  .clear
